<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
	<head th:include="navigation :: htmlhead">
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" th:href="@{/resources/css/kPstyle.css}" />
		<title th:text="#{home.createActivity}">Aktivität erstellen</title>
	</head>
<body class="background">
	<header th:include="navigation :: header" ></header>
	<nav th:include="navigation :: navigation" ></nav>
	<div class="container">
	<h1 th:text="#{createActivity.title}">Erstellung des Gutes</h1>
		<p>Erstellen Sie hier ihre Aktivität!</p>
	</div>
</body>

	


</html>